@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

body, input, button {
	font-family: 'Libre Baskerville', serif;
	font-size:16px;
}

body {
	margin:1rem 2rem;
	padding:0;
}


h1 {
	font-size:4rem;
	margin:1rem 0;
	text-align: center;
	color: #6242ED;
	background-image:
    repeating-linear-gradient(
      45deg,
      #6242ED,
      #6242ED 5px,
      #FFDA6B 5px,
      #FFDA6B 6px,
      #1778DE 6px,
      #1778DE 11px,
      #FFBACE 11px,
      #FFBACE 12px
    );
	background-clip: text;
	-webkit-background-clip: text;
}

h1 span {
	-webkit-text-fill-color: transparent;
}

ul {
	list-style-type: none;
	padding:0;
	width:30rem;
}

li {
	display: flex;
	justify-content: space-between;
}

input {
	border:none;
	border-bottom: 1px solid #8f8f8f;
	color: #6242ED;
}

input:hover, input:focus {
	outline:none;
	color: #6242ED;
	border-color:#FFDA6B;
}

input:focus {
	border-width: 2px;
}

button {
	margin:auto;
}

#story {
	display: block;
	margin-top: 1.5rem;
}