@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');


:root {
	/*--turquoise: #00C8DC;*/
	--turquoise: #00C8DC;
	--blue: #5E90FF;
	/*--color: r3: #6242ED;*/
	--gray: #E6E6E6;
	--gray: #D1D1D1;
	--yellow: #ECF65C;
}

/* Fonts */

body {
	font-family: Rubik, sans-serif;
	/*font-family: 'liibre Baskerville', serif;*/
}

aside, h1, .fixer {
	font-family: Rubik, sans-serif;
	font-size: 2rem;
	font-weight: 500;
}

aside h1 span:first-child {
	color: var(--turquoise);
}

aside h1 span:last-child {
	/*color:#7a7e86;*/
	/*filter:difference;*/
}


body {
	margin:0;
	padding:0;
	/*background-color: #fefefe;*/
	/*background-color: white;*/
}

aside {
	position: fixed;
	background-color: transparent;
	padding: 2rem 3rem;
	z-index:10;
    mix-blend-mode: screen;
}

aside p, h1 {
	margin-top: 0;
	color: #7a7e86;
}

aside h1, aside li, aside div a {
	transition: all .4s;
	opacity:0;
}

.visible {
	opacity:1 !important;
}


aside ul {
	list-style-type: none;
	padding: 0;
	display: grid;
	grid-template-columns: 1fr;
	gap:1.5rem;
}
aside a {
	text-decoration: none;
}

ul a  {
	color: #FF9036;
	color:  var(--blue);
	/*color:#0D6DDB;*/
/*	transition: all .3s;
*/	/*color: #fff;*/
	/*-webkit-text-stroke: 1px #0D6DDB;*/
}

li {
	width: min-content;
	transition: all .3s;
}

li:active {
	transform: scale(1.1);
}

.icons {
	display: grid;
	grid-template-rows: repeat(3,min-content);
	grid-template-columns: min-content min-content;
	gap:1rem 2rem;
	grid-auto-flow: column;
	/*-webkit-text-stroke: 1px #0D6DDB;*/
}

.icons a {
	color: var(--turquoise);
	transition: all .3s;
  /*animation: spin 1s linear infinite;*/
}

a:hover {
	/*-webkit-text-stroke: 1.1px #ECF65C;*/
	/*text-shadow: 1px 1px 1px var(--turquoise), -1px -1px 1px var(--turquoise), -1px 1px 1px  var(--turquoise), 1px -1px 1px  var(--turquoise);*/
	color:var(--yellow);
	/*background-color: #0D6DDB;*/
}

a:active {
	transform: scale(1.1);
}


main {
	padding:2rem 3rem 2rem 20rem;
	display: grid;
	grid-template-columns: 1fr;
	/*margin-left: 300px;*/
	background-color: transparent;
	background-clip: border-box;
	gap:2rem;
}


header {
	position: relative;
	height:calc(100vh - 4rem);
	display: flex;
	justify-content: center;
	align-items: center;
	/*border:100px solid black;*/
	box-sizing: border-box;
	font-size: 4rem;
	color: #7a7e86;

}

header:before {
	content: "";
	position: absolute;
	height:100vh;
	width:100vw;
	left:-20rem;
	top:-2rem;
	background-image: url('images/owens.jpg');
	background-repeat: no-repeat;
	/*background-position: 50% 0;*/
	background-size: cover;
	background-attachment:fixed;
	background-clip: padding-box;

}

#circle1, #circle2 {
	position:absolute;
	/*background-color: #EDE712;*/
	border-radius: 50%;
	z-index: -10;
}

#circle1 {
	height: 100px;
	width: 100px;
	border: 10px solid #EDE712;
	left:-10px;
	top:40%;
}

#circle2 {
	height: 90px;
	width: 90px;
	border: 10px solid #EDE712;
	left:-30px;
	top:45%;
	transition: all 1s ease;
}

#circle2:hover {
	transform: scale(4);
	border: 15px solid #EDE712;
}


header span {
	font-weight: 600;
	font-size: 5.02rem;
	/*text-shadow: 1px 1px 0px #fff, 2px 2px 0px rgba(0,0,0,0.15);*/
	background:
		repeating-linear-gradient(90deg,
		#5E90FF 0 4%,
		#00C8DC 13% 17%,
		#5E90FF 25%
		/*transparent 20px 100px*/
		);
    animation: animatedBackground 30s linear infinite;

	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

@keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -1000px 0; }
}
@-moz-keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -300px 0; }
}
@-webkit-keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -300px 0; }
}
@-ms-keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -300px 0; }
}
@-o-keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -300px 0; }
}


.name {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: repeat(3,1fr);
	color:#fff;
	font-size:2rem;
	font-family: Rubik, sans-serif;
}

.sticky {
	position: sticky;
	display: block;
	height:50px;
    width: max-content;
    top: 2rem;
    margin-left: -17rem;
    color: #fff;
}

.fixer span {
	color:transparent;
}

.fixer {
	position: sticky;
	/*display: block;*/
	height:50px;
    width: 200px;
    top: 0;
    margin-top: -2rem;
    margin-left: -17rem;
    background-color: black;
    color:gray;
}

section {
	/*background-color: #fefefe;*/
}

#portfolio>div {
	display: grid;
	grid-template-columns: repeat(auto-fit, 250px);
	gap:1rem;
}

#portfolio>div>div {
	text-align: center;
}
#portfolio img {
	height: 200px;
}

form {
	width: 100%;
	background-color: var(--turquoise);
	background-color: var(--blue);
	padding:1rem;
	border-radius: 10px;
	box-sizing: border-box;
    box-shadow: 4px 4px 0px var(--gray);
}

input, textarea, button {
	padding: .3rem;
	box-sizing: border-box;
	margin-bottom:1rem;
	outline:0;
}

input, textarea, label {
	font-family: "courier";
}

input, textarea {
	width:100%;
	background-color: #fefefe;
	border: none;
	border-bottom:2px solid #8F8F8F;
}

input:hover, textarea:hover, input:focus, textarea:focus {
	border-bottom:2px solid #ECF65C;
}

form div {
	position:relative;
}

label {
	position: absolute;
	top:.3rem;
	left:.3rem;
	color: #8F8F8F;
}

input {
	padding-left:5rem;
}

button {
	background-color: #fefefe;
	border: none;
	border-radius: 10px;
	width:100%;
	text-transform: uppercase;
	color:#8F8F8F;
	font-weight: 600;
}

button:hover {
	background-color:#ECF65C;
}

button:active {
    box-shadow: inset 2px 2px 1px #D1D1D1, inset -2px -2px 1px #fff;
}

textarea {
	resize: vertical;
}

@keyframes spin {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}